<!DOCTYPE html>
<html>
<head>

<title>Cawfee AI</title>
<link rel="stylesheet" href="/static/style.css">

</head>

<body>

<div class="chat-container">

    <div class="chat-header">
        Cawfee AI ☕
        <span class="status">Active now</span>
    </div>

    <div id="chat-box"></div>

    <div class="input-area">

        <input
        id="message"
        placeholder="Message Cawfee..."
        onkeydown="handleKey(event)"
        >

        <button onclick="sendMessage()">➤</button>

    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>
